{% extends 'base.html.twig' %}

{% block title %}Cardoor - Gestion des commandes{% endblock %}

{% block body %}
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Details de la commande</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Les produits de le commande sont affichés ici</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom</th>
                            <th>Quantité</th>
                            <th>Prix unitaire (€)</th>
                            <th>Prix (€)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <p class="text-center" colspan="5">Montant total: {{ detailsCommandeProduits[0].montantTotal | number_format(0, '.', ' ') }}€</p><br>
                    </tfoot>
                    <tbody>
                        {% for detailsCommande in detailsCommandeProduits %}
                        <tr>
                            <td><img src="/assets/img/car/{{detailsCommande.photo}}" alt="{{detailsCommande.photo}}" class="img-responsive" width="200" /></td>
                            <td>{{ detailsCommande.titre }}</td>
                            <td>{{ detailsCommande.quantite }}</td>
                            <td>{{ detailsCommande.prix | number_format(0, '.', ' ') }}</td>
                            <td>{{ (detailsCommande.quantite * detailsCommande.prix) | number_format(0, '.', ' ') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
{% endblock %}
